.scroll-down {
  width: 30px;
  text-align: center;
  margin: auto;
  animation: scroll-down 2s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}