.scroll-down {
  animation: scroll-down 2s infinite;
  margin: auto;
  max-width: 400px;
  text-align: center;
  width: 100%;
}

.scroll-down strong {
  color: var(--blue-light-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.scroll-down svg {
  color: var(--blue-color);
  height: 30px;
  width: 30px;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  .scroll-down strong {
    font-size: 14px;
    margin: 0 5px;
  }
}