.scroll-down {
  width: 30px;
  text-align: center;
  margin: auto;
  margin-top: -50px;
  animation: scroll-down 2s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 400px) {
  .scroll-down {
    margin-top: -100px;
  }
}

@media screen and (max-height: 850px) {
  .scroll-down {
    margin-top: -50px;
  }
}

@media screen and (max-height: 600px) {
  .scroll-down {
    margin-top: -30px;
  }
}