.responses {
  margin: 20px auto;
  text-align: center;
}

.service a {
  text-decoration: none;
  color: var(--white-color);
}
.service {
  padding: 20px;
  transition: all 0.1s ease-in-out;
}

.service:hover {
  transform: scale(1.03);
  border: 1px solid var(--yellow-light-color);
  border-radius: 5px;
  cursor: pointer;
}

.active {
  transform: scale(1.03);
  border: 1px solid var(--yellow-light-color);
  border-radius: 20px;
  cursor: pointer;
}

.responses .container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin: 80px;
  justify-content: center;
  border-left: 3px solid var(--blue-color);
  padding: 0 20px;
}

.service .service-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.service .service-description {
  color: var(--blue-color);
  font-weight: bold;
  font-size: 15px;
}

@media screen and (max-width: 980px) {
  .responses .container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 560px) {
  .responses .container {
    border: none;
  }
}

@media screen and (max-width: 400px) {
  .responses .container {
    /* padding: 0; */
    margin: 50px 0;
    gap: 30px;
  }

  .service {
    padding: 10px;
  }
}