.button {
  text-align: center;
}

.button button {
  background-color: var(--dark-bg-color);
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
  border: 1px solid var(--white-color);
  color: var(--blue-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  max-width: 120px;
  padding: 5px 20px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.button button:hover {
  background-color: var(--yellow-color);
  color: var(--white-color);
}

.button a {
  background-color: var(--dark-bg-color);
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
  border: 1px solid var(--white-color);
  color: var(--blue-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  max-width: 120px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.button a:hover {
  background-color: var(--yellow-color);
  color: var(--white-color);
}
