.form {
  margin: 20px auto;
}

.form .form-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px 0;
}

.form .container.title {
  border: none;
}

.form .container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin: 80px;
  justify-content: center;
  border-left: 3px solid var(--blue-color);
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

input::placeholder {
  color: #000;
  font-weight: bold;
}

.container.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.container .input {
  border: none;
  max-width: 500px;
  width: 100%;
  border-bottom: 2px solid var(--blue-color);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: #000;
  font-weight: bold;
}

.form .container .button {
  text-align: center;
}

.form .terms label {
  margin-left: 5px;
}

.form .terms a {
  color: var(--blue-color);
  text-decoration: none;
}

.form .terms a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.question-content {
  box-sizing: border-box;
}

.question-title {
  margin-bottom: 10px;
}

.question-options {
  padding: 2px 0;
  box-sizing: content-box;
}

.question-options > * {
  cursor: pointer;
}

.question-options label {
  margin-left: 10px;
}

.question-options:hover > label {
  color: var(--blue-color);
}

@media screen and (max-width: 980px) {
  .form .container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 560px) {
  .form .container {
    border: none;
  }
}
@media screen and (max-width: 400px) {
  .form {
    font-size: 13px;
  }

  .form .container {
    padding: 0 30px;
    margin: 30px 0;
    gap: 30px
  }

  .form .form-title {
    font-size: 14px;
  }

  .container .input {
    width: 90%;
  }
}

