.form {
  margin: auto;
  margin-bottom: 50px;
}

.form .form-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 80px;
  max-width: 350px;
  width: 100%;
  text-align: center;
}

.form .form-title p, .form .form-title span {
  font-family: 'Neue DemiBold';
}

.form .container.title {
  border: none;
}

.form .container {
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
  border-left: 3px solid var(--blue-color);
  display: grid;
  justify-content: center;
  margin: 30px 80px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

input::placeholder {
  color: var(--black-color);
  font-weight: bold;
}

.container.data {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.container .input {
  border-bottom: 2px solid var(--blue-color);
  border-radius: 10px;
  border: none;
  color: var(--black-color);
  font-size: 15px;
  font-weight: bold;
  max-width: 500px;
  padding: 10px;
  width: 100%;
}

.form .container .button {
  text-align: center;
}

.form .terms {
  margin: 20px auto;
}

.form .terms label {
  font-family: 'Neue DemiBold';
  font-weight: bold;
  margin-left: 5px;
}

.form .terms a {
  color: var(--blue-color);
  text-decoration: none;
}

.form .terms a:hover {
  text-decoration: underline;
}

.question-content {
  box-sizing: border-box;
  font-size: 18px;
}

hr {
  border: none;
  border-bottom: 1px solid var(--yellow-light-color);
  margin: 20px 0;
}

.question-title {
  font-family: 'Neue DemiBold';
  font-size: 20px;
  margin-bottom: 20px;
}

.question-options {
  box-sizing: content-box;
  margin: 3px 0;
}

.question-options > * {
  cursor: pointer;
}

.question-options label {
  font-weight: 600;
  margin-left: 5px;
}

.question-options:hover > label {
  color: var(--blue-color);
}

.subquestions {
  margin-left: 10px;
}

.subquestions hr {
  border: none;
  border-bottom: 1px solid var(--blue-color);
  margin: 10px 0;
}

.subquestion-content {
  margin-top: 10px;
  font-size: 15px;
}

.subquestion-title {
  font-family: 'Neue DemiBold';
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.subquestion-options > * {
  cursor: pointer;
}

.subquestion-options:hover > label {
  color: var(--blue-color);
}

@media screen and (max-width: 980px) {
  .form .container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 560px) {
  .form .container {
    border: none;
  }
}
@media screen and (max-width: 400px) {
  .form {
    font-size: 15px;
  }

  .form .container {
    margin: 30px 0;
    padding: 0 30px;
  }

  .form .form-title {
    font-size: 20px;
    line-height: 1;
    margin-top: 40px;
    max-width: 280px;
  }

  .container .input {
    width: 90%;
  }

  .container .question-content {
    font-size: 15px;
  }
}

@media (orientation: landscape) and (max-width: 980px) {
  .question-content {
    padding: 0 70px;
  }
  hr {
    margin: 20px 70px;
  }
}

