.info {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 100%;;
}

.content strong {
  font-family: 'Neue DemiBold';
}

.info .content p {
  font-family: 'Neue Regular';
  font-size: 20px;
  line-height: 1.3;
  margin: 8px 0;
  max-width: 500px;
  text-align: justify;
  width: 100%;
}

@media screen and (max-width: 560px) {
  .content {
    border: none;
  }
}

@media screen and (max-width: 400px) {
  .info .content {
    margin: 5px auto;
  }

  .info .content p {
    font-size: 17px;
    margin: 5px;
  }

  .content {
    padding: 0;
  }
}
