.info {
  text-align: center;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 100%;
}

.info .content p {
  font-size: 17px;
  line-height: 1.5;
  margin: 13px 0;
  max-width: 500px;
  width: 100%;
  letter-spacing: 1px;
  text-align: left;
}

@media screen and (max-width: 560px) {
  .content {
    border: none;
  }
}

@media screen and (max-width: 400px) {
  .info .content {
    margin: 5px auto;
  }

  .info .content p {
    font-size: 13px;
    margin: 5px;
  }

  .content {
    padding: 0;
  }
}
