.hero {
  margin: auto;
  height: 90vh;
  display: grid;
  align-items: center;
}

.hero .container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 80px;
  justify-items: center;
  align-items: center;
  border-left: 3px solid var(--blue-color);
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
}

.main-message {
  font-size: 60px;
  font-family: var(--quaternary-font);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 10px;
}

.main-message h1 {
  text-transform: uppercase;
  background: linear-gradient(180deg, rgba(71,219,248,1) 22%, rgb(27, 112, 129) 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
}

@media screen and (max-width: 550px) {
  .main-message h1 {
    font-size: 50px;
  }

  .hero {
    border: none;
  }
}

@media screen and (max-width: 400px) {
  .main-message h1 {
    font-size: 40px;
  }

  .hero .container {
    margin: 0;
  }
}

@media screen and (max-width: 560px) {
  .hero .container {
    border: none;
  }
}

@media screen and (max-width: 600px) {
    .hero .container {
      margin: 10px;
    }
}

@media screen and (max-height: 600px) {
  .main-message h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 980px) {
  .hero .container {
    grid-template-columns: auto;
  }
}