.hero {
  align-items: center;
  display: grid;
  height: 100vh;
  margin: auto;
  background-image: url(../../assets/images/background-hero.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.hero .container {
  align-items: center;
  border-image: linear-gradient(180deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%) 1;
  border-left: 3px solid var(--blue-color);
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin: 80px;
}

.main-message {
  font-family: var(--quaternary-font);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 10px;
}

.main-message h1 {
  font-size: 80px;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgb(113, 214, 235) 22%, rgb(113, 161, 216) 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-height: 600px) {
  .main-message h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 980px) {
  .hero .container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) {
  .hero .container {
    margin: 10px;
  }
}

@media screen and (max-width: 560px) {
  .hero .container {
    border: none;
  }
}

@media screen and (max-width: 550px) {
  .hero {
    background-image: none;
  }

  .main-message h1 {
    font-size: 50px;
  }

  .hero {
    border: none;
  }
}

@media screen and (max-width: 400px) {
  .main-message h1 {
    font-size: 40px;
  }

  .hero .container {
    margin: 0;
  }
}

