.hero {
  margin: auto;
  margin-top: 130px;
  position: relative;
  display: flex;
  z-index: -3;
}

.main-message {
  font-size: 50px;
  padding: 0;
  font-family: var(--quaternary-font);
}

.main-message h3 {
  padding: 0;
  line-height: .5;
  font-size: 40px;
}

.main-message h1 {
  text-transform: uppercase;
  height: auto;
}