.cta {
  bottom: 0;
  font-weight: 600;
  margin: auto;
  position: sticky;
  text-align: center;
}

.cta a {
  border-image: linear-gradient(180deg, rgb(88, 168, 221) 22%, rgba(71,219,248,1) 100%) 1;
  border: 1px solid var(--white-color);
  color: var(--blue-color);
  padding: 5px 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.cta a:hover {
  background-color: var(--yellow-color);
  color: var(--white-color);
}