.alert-text {
  font-size: 15px;
  margin: 10px auto;
  max-width: 300px;
  width: 100%;
  color: var(--white-color);
}

.link-icon {
  width: 20px;
  margin: auto;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
