.hero-image .image {
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 400px) {
  .hero-image .image {
    max-width: 300px;
  }
}