.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  background: rgb(14,16,255);
  background: linear-gradient(90deg, rgba(14,16,255,1) 22%, rgba(71,219,248,1) 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin: auto;
}

.nav h2 {
  padding: 0 30px;
  margin: auto;
  font-family: var(--senary-font);
  font-weight: 500;
  font-size: 30px;
}

.nav span {
  font-family: var(--senary-font);
  font-weight: 500;
  font-size: 30px;
}

.nav a {
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link-logo:hover {
  color: var(--gray-light-color);
}

@media screen and (max-width: 400px) {
  .nav .container {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
  }

  .nav h2, .nav span {
    font-size: 20px;
  }
}