.service {
  align-items: center;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.service:hover {
  box-shadow: 0 0 10px var(--yellow-light-color);
  opacity: 1;
}

.service a {
  box-sizing: border-box;
  color: var(--white-color);
  text-decoration: none;
}

.active {
  border-radius: 20px;
  border: 1px solid var(--yellow-light-color);
  box-shadow: 0 0 3px var(--yellow-light-color);
  cursor: pointer;
  justify-content: center;
}

.disabled {
  cursor: not-allowed;
  justify-content: center;
  opacity: 0.5;
  pointer-events: none;
}

.service .service-icon svg {
  height: 40px;
  margin: auto;
  width: 100px;
}

.service .service-subtitle {
  font-size: 18px;
  font-weight: lighter;
}

.service .service-title {
  font-family: 'Neue DemiBold';
  font-size: 20px;
  margin-bottom: 5px;
}

.service .service-description {
  color: var(--blue-color);
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  max-width: 350px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .service {
    padding: 0;
  }

  .service .service-title {
    font-size: 16px;
  }

  .service .service-description {
    font-size: 12px;
  }
}