@font-face {
  font-family: 'Cosi';
  font-style: normal;
  font-weight: 400, 700, 900, 100, 300, 500, 600, 800;
  src: url(./assets/fonts/cosi.woff2);
}

@font-face {
  font-family: 'Neue';
  src: url(./assets/fonts/neue-world.woff2);
}

@font-face {
  font-family: 'Neue DemiBold';
  src: url(./assets/fonts/TTFirsNeue-DemiBold.woff2);
}

@font-face {
  font-family: 'Neue Bold Italic';
  src: url(./assets/fonts/TTFirsNeue-DemiBoldItalic.woff2);
}

@font-face {
  font-family: 'Neue Thin';
  src: url(./assets/fonts/TTFirsNeue-Thin.woff2);
}

@font-face {
  font-family: 'Neue Thin Italic';
  src: url(./assets/fonts/TTFirsNeue-ThinItalic.woff2);
}

@font-face {
  font-family: 'Neue Regular';
  src: url(./assets/fonts/TTFirsNeue-Regular.woff2);
}

@font-face {
  font-family: 'Neue Extended Regular';
  src: url(./assets/fonts/NeueWorld-ExtendedRegular.woff2);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Neue thin';
}

html {
  background-color: var(--dark-bg-color);
  color: var(--white-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url('./public/background-hero.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 115%;
  background-position: center;
}

.background-overlay {
  background-color: #011b27de;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #07C4EF;
  --blue-light-color: #9fc8d1;
  --dark-bg-color: #061923;
  --dark-blue-color: #001D70;
  --yellow-color: #F2822c;
  --yellow-light-color: #FED560;
  --gray-light-color: #dddbdb;
  --primary-font: 'Neue Regular';
  --secondary-font: 'Neue SemiBold';
  --tertiary-font: 'Neue Bold Italic';
  --quaternary-font: 'Neue Thin';
  --quinary-font: 'Neue Thin Italic';
  --senary-font: 'Neue Extended Regular';
}